#coupon_code_status {
  display: none;
}

#duration_in_months_wrapper {
  display: none;
}

.payment-errors {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cc-details {
  width: 75px;
}

.scale-up {
  transform: scale(1.05);
}
