{% extends 'layouts/base.html' %}

{% block title %}perci.AI{% endblock %}
{% block meta_description %}Instantly create product descriptions for your fashion ecommerce store.
Harness the power of AI writing for unique, optimized descriptions that are proven to sell.{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Product descriptions, done.</h1>
      <h3 class="text-muted">
        Create unique, optimised descriptions for your clothing store instantly with AI writing.
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-sitemap text-primary"></i>
        <h2>About perci.AI</h2>
        <p class="text-muted">What's the deal with AI writing?</p>
        <p>
          <a href="#" class="btn btn-default">Learn more</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-edit text-primary"></i>
        <h2>Free trial</h2>
        <p class="text-muted">Sell more now with instant SEO product descriptions.</p>
        <p>
          <a href="#" class="btn btn-default">Get started</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
