{% extends 'layouts/app.html' %}

{% block title %}perci.AI{% endblock %}
{% block meta_description %}Instantly create product descriptions for your fashion ecommerce store.
Harness the power of AI writing for unique, optimized descriptions that are proven to sell.{% endblock %}

{% block body %}
  <div class="container">
    <div class="row text-center pb-5">
      <div class="col-md-12">
        <h2 class="h1">Automated product descriptions for online fashion stores.</h2>
        <h3 class="font-weight-light text-muted mt-0">
        Up your rank. Convert more shoppers. Generate descriptions instantly with AI writing. Try it out, no card required.
        </h3>
      </div>
    </div>
    <div class="row text-center pt-5">
      <div class="col-md-4">
        <i class="fas fa-fw fa-5x fa-asterisk text-primary"></i>
        <h2>Unique</h2>
        <p class="text-muted">Each description is one-of-a-kind.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-fw fa-5x fa-shopping-cart text-primary"></i>
        <h2>Proven to sell</h2>
        <p class="text-muted">SEO optimization is built in.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-fw fa-5x fa-sitemap text-primary"></i>
        <h2>Specialized for fashion</h2>
        <p class="text-muted">Authentic language that speaks to your shoppers.</p>
      </div>
    </div>
    <div class="row text-center pb-5">
      <p class="text-muted">Sign up for a free trial.</p>
      <p>
        <a href="{{ url_for('user.signup') }}" class="btn btn-outline-primary"
           onclick="window.dataLayer = window.dataLayer || [];
           window.dataLayer.push({'event': 'get_started'});">Get started</a>
      </p>   
    </div>
  </div>
{% endblock %}
