{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Sign up for a new account{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-2 mb-5">Let's get selling.</h2>
        <div class="media">
          <i class="fas fa-fw fa-3x fa-snowflake-o text-primary mr-2"></i>
          <div class="media-body">
            <h4 class="mt-0">Unique Descriptions</h4>
            <p class="text-muted">One of a kind, every time.</p>
          </div>
        </div>
        <div class="media mt-3">
          <i class="fas fa-fw fa-3x fa-database text-primary mr-2"></i>
          <div class="media-body">
            <h4 class="mt-0">SEO Optimized</h4>
            <p class="text-muted">So you rank higher and get more traffic.</p>
          </div>
        </div>
        <div class="media mt-3">
          <i class="fas fa-fw fa-3x fa-users text-primary mr-2"></i>
          <div class="media-body">
            <h4 class="mt-0">Built for Fashion</h4>
            <p class="text-muted">Language that speaks to your shoppers.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 card bg-light">
        {% call f.form_tag('user.signup') %}
          <h2 class="mt-2 mb-4">Let's get you signed up.</h1>

          {% call f.form_group(form.email,
                               autofocus='autofocus',
                               placeholder='Email address') %}
          {% endcall %}

          {% call f.form_group(form.password) %}
          {% endcall %}

          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary btn-block"
                      onclick="window.dataLayer = window.dataLayer || [];
                      window.dataLayer.push({'event': 'login'});">
                Register
              </button>
            </div>
            <div class="col-md-6">
              <a href="{{ url_for('user.login') }}"
                 class="btn btn-outline-secondary btn-block">
                Sign in
              </a>
            </div>
          </div>
        {% endcall %}
      </div>
    </div>
  </div>
{% endblock %}
