{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'billing/macros/billing.html' as billing with context %}

{% block title %}Ready to start selling?{% endblock %}
{% block meta_description %}Buy credits to start generating your own descriptions.{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4">
        <h2 class="h1 text-center">$1 per description.</h2>
        <h3 class="font-weight-light text-center text-muted mt-0">
          Pay for what you need, when you need it. Easy.
        </h3>
        <div class="row text-center pb-5">
          <p>
            <a href="{{ url_for('billing.purchase_credits') }}" class="btn btn-outline-primary">Buy credits</a>
          </p>   
        </div>
      </div>
    </div>
  </div>
{% endblock %}
